html,
head,
body {
    background: black;
}

#parent {
    display: flex;
    justify-content: center;
    align-items: center;

    background: black;
    height: 100vh;
    width: 100%;

    overflow: hidden;

    & #container {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        background: var(--background);

        padding: 3em 10ch;

        border-radius: var(--border-radius);

        border-style: solid;
        border-color: var(--border-color);
        border-width: 1px;

        & h1 {
            margin-bottom: 1em;
        }

        & #submit-button {
            /* background: red; */
            border-style: solid;
            border-width: 1.5px;
            border-color: var(--border-color);

            background: #333;

            padding: 0.2em 2ch;
            margin-top: 1.5em;

            border-radius: 1000px;

            transition-duration: 0.3s;

            cursor: pointer;

            user-select: none;
            -webkit-user-select: none;

            &:hover {
                border-color: #555;
            }

            &[aria-label='disabled'] {
                opacity: 0.3;
                cursor: not-allowed;
            }
        }

        & #status-message {
            color: red;
            font-style: italic;

            margin-bottom: 2em;
        }

        & #input-container {
            display: flex;
            flex-direction: row;

            align-items: flex-start;

            margin-bottom: 1em;

            &>div {
                margin-left: 2ch;
                margin-bottom: 1em;

                & input {
                    margin-bottom: 0.8em;

                    width: 25ch;

                    font-size: 1.2rem;
                }
            }

            & #confirm-password-status {
                color: var(--error);

                &[aria-label='disabled'] {
                    display: none;
                }
            }
        }

        & #toggle-button {
            margin-top: 1em;

            font-style: italic;
            opacity: 0.5;
            text-decoration: underline;

            cursor: pointer;
        }

        & #password-status {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            width: 30ch;

            & .password-check {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                margin-top: 0.4em;

                &:first-child {
                    margin-top: 0;
                }

                & h4 {
                    margin-left: 1ch;

                    font-size: 0.8rem;
                }

                & img {
                    height: 1em;
                    width: 1em;
                }

                &[aria-label='valid'] {
                    & h4 {
                        color: var(--success);
                    }

                    & img#cross {
                        display: none;
                    }
                }

                &[aria-label='invalid'] {
                    & h4 {
                        color: var(--error);
                    }

                    & img#check {
                        display: none;
                    }
                }
            }
        }

        & #confirm-password-status {
            font-size: 0.8rem;
        }

        &[aria-label='login'] {
            & #input-container:last-of-type {
                display: none;
            }

            & #password-status {
                display: none;
            }
        }
    }
}

@media only screen and (max-aspect-ratio:1/1) {
    #parent {
        & #container {
            width: 100%;

            background: none;
            border: none;

            & #input-container {
                flex-direction: column;

                & h3 {
                    opacity: 0.5;
                    margin-bottom: 0.2em;
                }

                &>div {
                    margin-left: 0;
                }
            }

            & #password-status {
                margin-left: 0;
            }
        }
    }
}