@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background: #111;
    --secondary: #323741;
    --border-color: #333;
    --border-radius: 20px;
    --tertiary: #2a2d35;
    --success: #71ba4f;
    --error: #e15241;
}

html,
head,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
a {
    font-family: 'Roboto Mono';
    font-weight: 400;

    color: white;

    margin: 0;
    padding: 0;
}

input {
    border-collapse: collapse;
    background: none;
    border: none;

    margin: 0;

    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: var(--tertiary);
}